
 <div class="container mb-2">
 <form [formGroup]="editItemForm" (ngSubmit)="saveEntry()">
    <h6 class="text-center text-primary" *ngIf="entry.id !== 0; else newEntry">Edit Entry</h6>
    <ng-template #newEntry>
      <h6 class="text-center text-primary" >New Entry</h6>
    </ng-template>
    <hr />
    <div class="form-group">
      <input type="text" class="form-control" formControlName="name"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="phoneNumber">
    </div>
    <button class="btn btn-success" [disabled]="!editItemForm.valid" type="submit">Save</button>
    <button class="btn btn-default" *ngIf="entry.id === 0" (click)="cancelNew()">Cancel</button>
  </form>
</div>

