<div class="container mt-4">
  <div class="row">
    <form
      (ngSubmit)="updatePhonebook()"
      #editPhonebook="ngForm"
      id="editPhonebook"
    >
      <h4>Edit phonebook</h4>
      <label for="name" class="mt-5">Phonebook name</label>

        <input
          class="form-control"
          name="name"
          type="text"
          [(ngModel)]="phonebook.phonebookName"
        />
        <button
        [disabled]="!editPhonebook.dirty"
        form="editPhonebook"
        class="mt-2 btn btn-success"
      >
        Save Phonebook
      </button>
    </form>


  </div>
  <div class="row">
    <div class="alert alert-info" *ngIf="editPhonebook.dirty">
      <strong>Information: </strong> You have made changes, any unsaved changes
      will be lost!
    </div>
  </div>
</div>
